[submodule "externals/stratum-mining-proxy"]
	path = externals/stratum-mining-proxy
        url = https://github.com/mrtexaznl/stratum-mining-proxy
[submodule "externals/stratum"]
	path = externals/stratum
	url = https://github.com/mrtexaznl/stratum
[submodule "externals/medcoin_hybrid"]
	path = externals/medcoin_hybrid
	url = https://github.com/mrtexaznl/medcoin_hybrid

